.header {
  display: flex;
  justify-content: center;
}

.header__content {
  width: 100%;
  max-width: 1280px;
  justify-content: space-between;
  padding: 0 8rem 0 8rem;
}

.header__content_mobile {
  display: flex;
}

@media (min-width: 769px) {
  .header__content_mobile {
    display: none;
  }
}

.header__content_desktop {
  display: none;
}

@media (min-width: 769px) {
  .header__content_desktop {
    display: flex;
  }
}

.header__navbar {
  z-index: 99999999999999999;
}

.main {
  display: flex;
  height: 100%;
}
