.header {
  display: flex;
  justify-content: center;
}

.header__content {
  width: 100%;
  max-width: 1600px;
  justify-content: space-between;
}

.header__content_mobile {
  display: flex;
  padding: 0 4rem 0 4rem;
}

@media (min-width: 768px) {
  .header__content_mobile {
    display: none;
  }
}

.header__content_desktop {
  display: none;
}

@media (min-width: 768px) {
  .header__content_desktop {
    display: flex;
    padding: 0 8rem 0 8rem;
  }
}

.header__navbar {
  z-index: 99999999999999999;
}
